:root {
    --logofarbe:#666;
    --logofarbe_hover: #333;
    --menüfarbe: rgba(0,0,0,.8);
    --menüfarbe_hover: #337ab7;
    --textwhite:white;
    --background: #D9E8E5;
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}
html{
    font-size:62.5%;
    font-family: lato;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}
nav{
    height: 79px;
    border-bottom: 1px solid var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5rem;
}
.nav1 a, .nav2 a{
    padding:0 2rem;
}

main{
    height: 120rem;
    width: 100vw;
    background-color:#D9E8E5 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center;
    padding:12rem;
}
.rings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
article{
    height: 20rem;
    width: 30rem;
    display: flex;
    justify-content: end;
    align-items: end;

}

.rings article:first-of-type {
    background: url(../img/ring001.png)
    center no-repeat;
    background-size: cover;
    
}
.rings article:nth-of-type(2) {
    background: url(../img/ring002.png)
    center no-repeat;
    background-size: cover;    
}
.rings article:nth-of-type(3) {
    background: url(../img/ring003.png)
    center no-repeat;
    background-size: cover;    
}
.rings article:nth-of-type(4) {
    background: url(../img/ring004.png)
    center no-repeat;
    background-size: cover;    
}
.rings article:nth-of-type(5) {
    background: url(../img/ring005.png)
    center no-repeat;
    background-size: cover;    
}
.rings article:nth-of-type(6) {
    background: url(../img/ring006.png)
    center no-repeat;
    background-size: cover;    
}



