/* VARIABLES */
$blue: #5bf2fd;
$yellow: #fcc736;
$red: #fd5f5f;
$purple: #bb4dfa;
$txtwhite: white;
$iconblack: black;
$font-stack: Helvetica, sans-serif;
$totalwidth:100%;
$flex:flex;
$flexdirection: column;
$center:center;
$bgwhite:white;
$sectionheight:100vh;
$gap_bottom:3rem;