:root {
  --var1: ;
  --var2: ;
  --var3: ;
}

/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* HEADER  */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
form {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: f;
  flex-direction: column;
  text-align: left;
}
.healthvalue,
.healtheffect {
  font-size: 22px;
  font-weight: 444;
}
