h1{
    font-size: 48px;
    background-color: rgb(184, 221, 1);
    text-align: center;
    font-family: Tahoma,Arial, Helvetica, sans-serif;
}
main p {
    text-transform: uppercase;
    text-decoration-line: underline;
}
section p{
    text-decoration-line: underline;
}

h2 {
    word-spacing: 10px;
    letter-spacing: 20px;
    text-shadow: 5px 5px 5px lightslategray;
}
ul {
    background-color: grey;
}
li p{
    background-color: blueviolet;
}