* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    border:4px dashed black ;
    border-radius: 20px;
    padding:20px;
    margin:20px 90px;
    font-size: 40px;
}

p {
    border: 3px solid gold;
    margin:50px 25px;
    padding:20px;
    font-size: 20px;
    color:blueviolet;
    font-weight: 500;
}
p:first-letter {
    text-transform: uppercase;
    font-size: 50px;
}

h2 {
    text-align: center;
    box-shadow: 0px 0px 40px rgb(27, 27, 27);
    border-radius: 20px;
    padding:10px;
    margin:10px 90px;
    font-size: 40px;
}
ol {
    border: 3px dotted greenyellow;
    padding:20px 20px;
    margin:0px 190px;
}
li {
    border-bottom: 2px dotted greenyellow;
}
h3 {
    border: 18px double greenyellow;
    margin: 40px 250px;
    text-align: center;
    font-size: 25px;
    border-radius: 30px;
    padding:20px;
}
ul {
    border: 3px dotted greenyellow;
    padding:20px 20px;
    margin:0px 190px;
}