* {
    padding:0;
    margin:10px;
    box-sizing: 0;
}
@font-face {
    font-family: mont;
    src: url(./fonts/mont.ttf);
}
li:nth-child(even){
    text-decoration: underline;
}
li:nth-child(odd){
    list-style-type: square;
}
li:nth-child(3n+0) {
    color: #463789;
    font-family: "mont";
}
li:nth-child(5n+0) {
  background-color:#FFF176;
}
li:nth-child(7n+0) {
    font-size: 1.6em;
}
li:first-of-type{
    color: #E53935;
}
li:nth-child(13n+0) {
    background-color:#FF8A80;
}
li:nth-child(4n+0) {
    letter-spacing: 6px;
}