$flex:flex;
$center:center;
$column:column;
$columnreverse:column-reverse;
$txtsize:2rem;
$iconsize:4rem;
$padding:3rem;

*{
    padding:0;
    margin:0;
}
header{
    display: $flex;
    justify-content:$center;
    align-items:$center;
    flex-wrap: wrap;
    height: 50vh;
    gap:$padding;
    i{
        font-size: $iconsize;
        text-align: center;
        h2{
            font-size: 1rem;
            margin-top: 1rem;
            color: black;
        }
    }
    i:nth-child(2n){
        display: $flex;
        flex-direction: $columnreverse;
        gap:1rem;
        }
    }
// ==================================
// ICON COLORS
// ==================================
.la-twitter{
    color:#1da1f2;
}
.la-behance{
    color:#1769ff;
}
.la-facebook-f{
    color:#1877f2;
}
.la-vimeo{
    color:#1ab7ea;
}
.la-snapchat{
    color:#fffc00;
}
.la-airbnb{
    color:#fd5c63;
}
.la-amazon{
    color:#ff9900;
}
.la-android{
    color:#a4c639;
}
.la-stack-overflow{
    color:#f48024;
}
.la-ubuntu{
    color:#dd4814;
}
.la-github{
    color:#333;
}
.la-js-square{
    color:#f7df1e;
}