:root {
    --hauptfarbe: red;
    --zweitfarbe: yellow;
    --textfarbe: grey;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* Bodytag nicht anfassen, aber dafür HTML */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* Rem spricht nur die Schriftart an */
/* Em der Berechnungskurs oben funktioniert nicht
sricht das Elternelement an */
h2 {
    font-size: 2.4 rem;
    color: var(--hauptfarbe);
}

section{
    height: 100vh;
}
#eins{
    background-color: orange;
}
#zwei {
    background-color: aqua;
}
#drei {
    background-color:blueviolet ;
}
/* clamp property passt die Schriftgröße an die Bildschirmgröße an
indem von vorne rein festgelegt, was die min max Werte sind */
p {
    font-size: clamp(1.2rem, 1.8vw, 2rem);
}